UseTab: Never
BreakBeforeBraces: Allman
IndentWidth: 2
TabWidth: 2
ColumnLimit: 120
PointerAlignment: Left
NamespaceIndentation: All
SortIncludes: false
SpaceBeforeCtorInitializerColon: true
AlignAfterOpenBracket: true
BracedInitializerIndentWidth: 2
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Inline
EmptyLineBeforeAccessModifier: Leave
InsertBraces: true